<div class="container">
  <h1>Scouter Registration </h1>
  <form (ngSubmit)="onSubmit()" #scouterRegistrationForm="ngForm" class="main-form-reg">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control input" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required>
    </div>
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name is required
    </div>


    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control input" id="country" name="country" required [(ngModel)]="model.country" #country="ngModel">
        <option *ngFor="let country of countries" [value] = country> {{country}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="team_name">Team</label>
      <select  class="form-control input" id="team_name" name="team_name" required [(ngModel)]="model.team_name" (ngModelChange)="selectTeam($event)"  #team_name="ngModel">
        <option *ngFor="let team of teams" [value] = team> {{team}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control input" id="username" name="username" required [(ngModel)]="model.username" #username="ngModel" minlength="6">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control input" id="password" name="password" required  [(ngModel)]="model.password" #password="ngModel" minlength="6">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="scouterRegistrationForm.invalid">Submit</button>
  </form>
</div>
