.input {
  width: 259px;
  background: #13111163;
  color: white;
}

select option {
  background-color: black;
  color: #fff;
}

.main-form-reg {
  margin-left: 40%;
  position: relative;
  top: 40px;
}
