.players-ul {
  display: inline-flex;
  position: relative;
  top: 152px;
  left: 3%;
  margin:0;
}

.page-btn-pre {
  font-size: -webkit-xxx-large;
  position: absolute;
  bottom: 41%;
  left: 1%;
}

.page-btn-pre:hover {
  cursor: pointer;
}

.page-btn-next {
  position: absolute;
  bottom: 41%;
  right: 38%;
  font-size: -webkit-xxx-large;
}

.page-btn-next:hover {
  cursor: pointer;
}
