.players-ul {
  display: inline-flex;
  position: relative;
  top: 70px;
  left: 3%;
  margin:0;
}

.page-btn-pre {
  font-size: -webkit-xxx-large;
  position: relative;
  bottom: 17px;
}

.page-btn-pre:hover {
  cursor: pointer;
}

.page-btn-next {
  position: relative;
  left: 6.5%;
  bottom: 17px;
  font-size: -webkit-xxx-large;
}

.page-btn-next:hover {
  cursor: pointer;
}
