.list-row{
  border-style: solid;
  border-width: thin;
  border-color: #d9d9d9;
  background-color: white;
  /*padding: 31px;*/
  height: 88px;
  margin-top: 5px;
  /*margin-left: 53%;*/
}
.list-row :hover {
  background-color: #d3dbdd;
}
.example-header-image {
  background-image: url('../../../assets/ronaldo1.jpeg');
  background-size: cover;
  height: 55px;
  width: 55px;
}
.mat-card{
  padding: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  background-color: transparent !important;
}
.image{
  display: block;
  width: 88px;
}

.details-player{
  margin-right: 14%;
  background-color: transparent !important;
}
img{
  height: 88px;
}
.player-name{
  position: relative;
  bottom: 70px;
  right: 4px;
}
.player-age{
  bottom: 30px;
  left: 59px;
  position: relative;
}
.player-position{

  position: relative;
  bottom: 70px;
  right: 4px;
}
.player-foot{
  bottom: 30px;
  left: 73px;
  position: relative;
}
.player-state{
  position: relative;
  bottom: 70px;
  right: 4px;

}
.player-team{
  bottom: 30px;
  left: 90px;
  position: relative;
}

:hover {
  background-color: #d3dbdd;
}
