.ipt {
  background-color: #13111163;
  color: white;
  position: relative;
  right: 32%;
  top: 131px;
}

.lbl {
  position: relative;
  right: 32%;
  top: 131px;
}

.moto-widget-button {
  min-height: auto !important;
  position: relative;
  right: 32%;
  top: 131px;
}

.moto-widget-button:hover {
  cursor: pointer;
}

.playerVideo {
  visibility: hidden;
}
