.profile-div {
  display: inline-grid;
}

.main-pic {
  width: 332.8px;
  position: relative;
  left: 2%;
  border-radius: 10px;
  height: 237.94px;
}

.basic-info {
  height: 0;
  /* margin: 0; */
  position: absolute;
  margin-top: 0;
  /* bottom: 495px; */
  left: 33%;
}

.stats-info {
  height: 0;
  /* margin: 0; */
  position: absolute;
  margin-top: 0;
  /* bottom: 495px; */
  left: 53%;
}

.table-info>tbody>tr>th {
  background-color: transparent;
}

.table-info>tbody>tr>td {
  background-color: transparent;
}

#info_content {
  background-color: #151414a6;
}

#stats_content {
  background-color: #151414a6;
}

.its-tabs {
  background: #5dca197d;
}

.its-tabs>li.active {
  color: white;
}

#info_content[_ngcontent-c13] {
  background-color: #11090987;
}

#stats_content[_ngcontent-c13] {
  background-color: #11090987;
}

.table-info>tbody>tr>th {
  color: #f8f8f8;
}

.table-row-text {
  color: white !important;
}

.info-table {
  margin-bottom: 0;
  display: inline-table;
  height: 192px;
}

.stats-table {
  margin-bottom: 0;
  display: inline-table;
  height: 202px;
}

.own-desc-text {
  width: 332.800px;
  height: 214.938px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #66933559;
  font-size: 16px;
  resize: none;
  margin-top: 17px;
  position: relative;
  left: 2%;
  color: #c0b7b7;
  font-weight: 800;
  bottom: 46px;
}

.edit-img {
  width: 3%;
  height: 34px;
  position: relative;
  top: 180px;
  left: 31%;
  z-index: 2;
}

.edit-img:hover {
  cursor: pointer;
}

.player-graph-main {
  position: absolute;
  left: 73%;
  top: 13px;
  width: 26%;
}

[_nghost-c14] {
  background-color: azure;
  box-shadow: none;
}

[_nghost-c16] {
  background-color: #ffffff00;
  -webkit-box-shadow: 3px 3px 2px #888888;
  box-shadow: none;
}

.playerVideo[_ngcontent-c15] {
  background: transparent;
  position: relative;
  bottom: 403px;
  left: 59%;
}

input#video {
  background: #13111163;
  color: white;
}

button {
  position: relative;
  top: 36px;
  right: 20.5%;
}

.profileImgVisibility {
  visibility: hidden;
}

[_nghost-c17] {
  background-color: transparent;
  -webkit-box-shadow: 3px 3px 2px #888888;
  box-shadow: none;
}
