<div *ngIf="basicInfoLoaded && statsLoaded" class="profile-div">
  <img src="../../../assets/emptyman.png" class="main-pic">
  <img src="../../../assets/edit.png" class="edit-img">
  <textarea class="own-desc-text">Player own description...</textarea>
  <div class="basic-info col-md-2 mobile-margin-bottom player-info-area info-col ">
    <div id="player-bottom" style="display: none;"></div>
    <ul class="inline its-tabs box-shadow" style="text-align:center;">
      <li class="its notxtselect active" id="its_info" data-target="info_content">Info</li>
    </ul>
    <div id="info_content" class="box-shadow" style="display: block;">
      <table class="info-table table  table-info" style="margin-bottom: 0;">

        <tbody><tr class="">
          <th>Name</th>
          <td class="table-row-text">{{player.player_basic_Info.name}}</td>
        </tr>
        <tr class="">
          <th>Team</th>
          <td class="table-row-text"> {{teamName}}</td>
        </tr>
        <tr class="">
          <th>Country</th>
          <td class="table-row-text"> {{player.player_basic_Info.country}} </td>
        </tr>
        <tr class="">
          <th>Leg <i class="icon-footprint"></i></th>
          <td class="table-row-text">{{player.player_basic_Info.leg}} </td>
        </tr>
        <tr class="">
          <th>Age</th>
          <td class="table-row-text">{{player.player_basic_Info.age}}</td>
        </tr>
        <tr class="">
          <th>Position</th>
          <td class="table-row-text">{{player.player_basic_Info.position}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="stats-info col-md-2 mobile-margin-bottom player-info-area info-col ">
    <div id="player-bottom2" style="display: none;"></div>
    <ul class="inline its-tabs box-shadow" style="text-align:center;">
      <li class="its notxtselect active" id="its_info2" data-target="info_content">Statistics</li>
    </ul>
    <div id="stats_content" class="box-shadow" style="display: block;">
      <table class="stats-table table  table-info" style="margin-bottom: 0;">

        <tbody><tr class="">
          <th>Goals</th>
          <td class="table-row-text">{{player.player_statistics[0].goals}}</td>
        </tr>
        <tr class="">
          <th>Assists</th>
          <td class="table-row-text"> {{player.player_statistics[0].assists}}</td>
        </tr>
        <tr class="">
          <th>Games In Starting Linup</th>
          <td class="table-row-text"> {{player.player_statistics[0].games_in_starting_linup}} </td>
        </tr>
        <tr class="">
          <th>Games Entered From Bench </th>
          <td class="table-row-text">{{player.player_statistics[0].games_entered_from_bench}}</td>
        </tr>
        <tr class="">
          <th>Red Cards</th>
          <td class="table-row-text">{{player.player_statistics[0].red_cards}}</td>
        </tr>
        <tr class="">
          <th>Yellow Cards</th>
          <td class="table-row-text">{{player.player_statistics[0].yellow_cards}}</td>
        </tr>
        <tr class="">
          <th>Average KM</th>
          <td class="table-row-text">{{player.player_statistics[0].average_km_per_game | number}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-player-graph [player]="player" class="player-graph-main"> </app-player-graph>
  <app-player-videos class="playerVideo" [player]="player"></app-player-videos>
</div>
