<div *ngIf="basicInfoLoaded && statsLoaded" class="profile-div">
  <img src="../../../assets/ronaldo2.jpeg" class="main-pic">
  <img src="../../../assets/edit.png" class="edit-img">
  <textarea class="own-desc-text">Player own description...</textarea>
  <div class="basic-info col-md-2 mobile-margin-bottom player-info-area info-col ">
    <div id="player-bottom" style="display: none;"></div>
    <ul class="inline its-tabs box-shadow" style="text-align:center;">
      <li class="its notxtselect active" id="its_info" data-target="info_content">Info</li>
    </ul>
    <div id="info_content" class="box-shadow" style="display: block;">
      <table class="info-table table  table-info" style="margin-bottom: 0;">

        <tbody><tr class="">
          <th>Name</th>
          <td class="table-row-text">Luis Suárez</td>
        </tr>
        <tr class="">
          <th>Team</th>
          <td class="table-row-text"> FC Barcelona </td>
        </tr>
        <tr class="">
          <th>Country</th>
          <td class="table-row-text"> Uruguay </td>
        </tr>
        <tr class="">
          <th>Leg <i class="icon-footprint"></i></th>
          <td class="table-row-text">Right </td>
        </tr>
        <tr class="">
          <th>Age</th>
          <td class="table-row-text">30</td>
        </tr>
        <tr class="">
          <th>Position</th>
          <td class="table-row-text">Striker</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="stats-info col-md-2 mobile-margin-bottom player-info-area info-col ">
    <div id="player-bottom2" style="display: none;"></div>
    <ul class="inline its-tabs box-shadow" style="text-align:center;">
      <li class="its notxtselect active" id="its_info2" data-target="info_content">Statistics</li>
    </ul>
    <div id="stats_content" class="box-shadow" style="display: block;">
      <table class="stats-table table  table-info" style="margin-bottom: 0;">

        <tbody><tr class="">
          <th>Goals</th>
          <td class="table-row-text">15</td>
        </tr>
        <tr class="">
          <th>Assists</th>
          <td class="table-row-text"> 9 </td>
        </tr>
        <tr class="">
          <th>Games In Starting Linup</th>
          <td class="table-row-text"> 7 </td>
        </tr>
        <tr class="">
          <th>Games Entered From Bench </th>
          <td class="table-row-text">5 </td>
        </tr>
        <tr class="">
          <th>Red Cards</th>
          <td class="table-row-text">30</td>
        </tr>
        <tr class="">
          <th>Yellow Cards</th>
          <td class="table-row-text">3</td>
        </tr>
        <tr class="">
          <th>Average KM</th>
          <td class="table-row-text">3.45</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-player-graph [player]="player" class="player-graph-main"> </app-player-graph>
  <!--<app-player-videos [player]="player"></app-player-videos>-->
</div>
