<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>IScout <i class="far fa-futbol"></i></span>
    <span class="example-spacer"></span>
    <span class="example-icon">Home</span>
    <span class="example-icon">Profile</span>
    <span class="example-icon">Search Engine</span>
    <span class="example-icon">Logout</span>

  </mat-toolbar-row>
</mat-toolbar>
<!--<app-player-registration> </app-player-registration>-->
<!--<app-player-profile></app-player-profile>-->
<!--<app-search-player></app-search-player>-->
<!--<app-search-results></app-search-results>-->
<app-login></app-login>
