.toolbar {
  background: none;
  color: white;
  position: relative;
  bottom: 17px;
}

.toolbar-ul {
  list-style: none;
}

.toolbar-li {
  display: inline-block;
  position: relative;
  margin-right: 1%;
}

.toolbar-a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: white;
  text-decoration: none;
  padding: 0;
  letter-spacing: .5px;
  font-size: 16px;
  line-height: normal;
  position: relative;
  display: block;
  text-align: left;
  transition: .3s;
  z-index: 1;
}

.toolbar-a:hover {
  color: #5fc44d;
  cursor: pointer;
}
