<!--<p-fileUpload mode="basic" name="myfile[]" accept="image/*" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>-->
<!--<p-fileUpload mode="basic" name="demo[]"  accept="image/*"  (onUpload)="myUploader($event)" auto="true"></p-fileUpload>-->

<img [src]=imageUrl class="main-pic">

<div class="image-upload" >
  <label for="file-input">
    <img class="upload-ico" src="../../../../assets/uploadwhite.png" [ngClass]="{profileImg: !permissions}"/>
  </label>
  <input id="file-input" type='file' (change)="getImage($event)" accept="image/*" [ngClass]="{profileImg: !permissions}">
</div>
